@import "tailwindcss";

@keyframes snowfall {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 0.7;
  }
  100% {
    transform: translateY(100vh) translateX(20px);
    opacity: 0;
  }
}

@keyframes slowPan {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
